#include "base.install"
#include "base.config"
#include "audio.config"
#include "camera.config"
#include "gpu.config"
#include "graphics.config"
#include "gst_audio.config"
#include "gst_camera.config"
#include "debug.install"
#include "video.config"
