#include "base.install"
#include "base.config"
#include "gpu.config"
#include "graphics.config"
#include "audio.config"
#include "video.config"
#include "ff_audio.config"
#include "gst_audio.config"
#include "gst_video.config"
#include "wifi.config"
#include "debug.install"
#include "qtapp.config"
