BR2_PACKAGE_GSTREAMER=y
BR2_PACKAGE_GST_PLUGINS_BASE=y
BR2_PACKAGE_GST_PLUGINS_BASE_AUDIOCONVERT=y
BR2_PACKAGE_GST_PLUGINS_BASE_AUDIOTESTSRC=y
BR2_PACKAGE_GST_PLUGINS_BASE_ALSA=y
BR2_PACKAGE_GST_PLUGINS_BASE_RESAMPLE=y
BR2_PACKAGE_GST_PLUGINS_GOOD=y
BR2_PACKAGE_GST_PLUGINS_GOOD_AUTODETECT=y
BR2_PACKAGE_GST_PLUGINS_GOOD_AUDIOPARSERS=y
BR2_PACKAGE_GST_PLUGINS_GOOD_MPG123=y
BR2_PACKAGE_GST_PLUGINS_GOOD_WAVPARSE=y
BR2_PACKAGE_GST_PLUGINS_BAD=y
BR2_PACKAGE_GST_PLUGINS_BAD_FAAD=y
