#include "puma_arm.config"
#include "base.config"
#include "base_extra.config"
#include "debug.config"
#include "audio.config"
#include "wifi.config"
#include "bt.config"
#include "video_mpp.config"
BR2_ROOTFS_OVERLAY="board/rockchip/puma/fs-overlay/"
BR2_TARGET_GENERIC_HOSTNAME="Puma"
BR2_TARGET_GENERIC_ISSUE="Welcome to Puma Buildroot"
BR2_PACKAGE_RKWIFIBT_COMPATIBLE=y
BR2_PACKAGE_LIBPNG=n
BR2_PACKAGE_LIBPNG12=y
BR2_PACKAGE_RKWIFIBT_BTUART="ttyS4"
BR2_PACKAGE_LIBV4L=y
BR2_PACKAGE_LIBV4L_UTILS=y
BR2_PACKAGE_CAMERA_ENGINE_RKISP=y
BR2_PACKAGE_QT5=y
BR2_PACKAGE_QT5BASE_WIDGETS=y
BR2_PACKAGE_QT5BASE_GIF=y
BR2_PACKAGE_QT5BASE_JPEG=y
BR2_PACKAGE_QT5BASE_PNG=y
BR2_PACKAGE_QT5QUICKCONTROLS=y
BR2_PACKAGE_QT5QUICKCONTROLS2=y
BR2_PACKAGE_LIBDRM=y
BR2_PACKAGE_LIBDRM_INSTALL_TESTS=y
