#include "base.config"
#include "debug.config"
BR2_aarch64=y
BR2_cortex_a35=y
BR2_ROOTFS_DEVICE_CREATION_DYNAMIC_EUDEV=y
BR2_ROOTFS_OVERLAY="board/rockchip/rk3399pro_npu/fs-overlay-64/"
BR2_PACKAGE_CAMERA_ENGINE_RKISP=y
BR2_PACKAGE_ROCKCHIP_TEST=y
BR2_PACKAGE_APP_DEMO=y
BR2_PACKAGE_APP_DEMO_IMAGE_PROCESS=y
BR2_PACKAGE_RKNPU_PCIE=y
BR2_PACKAGE_RKNPU_ACM=y
BR2_PACKAGE_LIBUSB=y
BR2_PACKAGE_LIBV4L=y
BR2_PACKAGE_LIBV4L_UTILS=y
BR2_PACKAGE_LIBXML2=y
