[Desktop Entry]
Name=pose 3finger(rockx)
Exec=bash -c "/usr/bin/n1-1808-rockx-drmdisp.sh camera pose_finger3 1280 720"
Icon=/usr/local/share/app_demo/resource/1808.png
Type=Application
